<div class="container mt-3">
	<!-- <div class="row"> -->
		<h2 class="animate__animated animate__fadeIn">Calculadora de Monto por joyas</h2>
		<form [formGroup]="calcuJoyas" class="form-row animate__animated animate__fadeInLeft">
			<div class="col-3 form-group"><!-- inicio de la primera columna -->
				<label for="peso">Peso</label>
				<input type="number" class="form-control" placeholder="peso" formControlName="peso">
				<label for="normal">Monto regular</label>
				<div class="alert alert-info"> 
          {{ calcularNormal( calcuJoyas.value.peso , calcuJoyas.value.kilate ) | number:'1.0-0' }} Bs. 
        </div>
			</div><!-- primera columna -->
			<div class="col-3 form-group"><!-- inicio de la segunda columna -->
				<label for="kilate"> Kilates </label>
        <select formControlName="kilate" class="form-control">
          <option value="18">18 Kilates</option>
          <option value="14">14 Kilates</option>
          <option value="10">10 Kilates</option>
        </select>
				<label for="extendido">Monto Extendido</label>
        <div class="alert alert-warning">
          {{ calcularExt( calcuJoyas.value.peso , calcuJoyas.value.kilate ) | number:'1.0-0' }} Bs. 
        </div>      
      </div><!-- segunda columna -->
      
		
			<div class="col-6 form-group animate__animated animate__fadeInDown">	<!-- inicio de la terecera columna -->
				<table class="table text-center">
					<thead>
						<tr>
							<th scope="col" >Limites</th>
							<th scope="col" >KT</th>
							<th scope="col" >Normal</th>
							<th scope="col" >Extendido</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-success">
							<th scope="row">Menor a 10gr</th>
							<td>18 kt</td>
							<td>170 bs</td>
							<td>0 bs</td>
						</tr>
						<tr class="table-info">
							<th scope="row">Mayor a 10.1gr</th>
							<td>18 kt</td>
							<td>160 bs</td>
							<td>175 bs</td>
						</tr>
						<tr class="table-success">
							<th scope="row">Menor a 10gr</th>
							<td>14 kt</td>
							<td>120 bs</td>
							<td>135 bs</td>
						</tr>
						<tr class="table-info">
							<th scope="row" >Mayor a 10.1gr</th>
							<td>14 kt</td>
							<td>135 bs</td>
							<td>150 bs</td>
						</tr>
						<tr class="table-success">
							<th scope="row">Menor a 10gr</th>
							<td>10 kt</td>
							<td>85 bs</td>
							<td>0 bs</td>	
						</tr>
						<tr class="table-info">
							<th>Mayor a 10.1gr</th>
							<td>10 kt</td>
							<td>80 bs</td>
							<td>90 bs</td>
						</tr>
					</tbody>

				</table>
			</div><!-- tercera de 6 colmuna -->			
		</form>
		<!-- </div> row principal calculadora de joyas -->
		<br>
		<hr>
		<h2 class="animate__animated animate__fadeIn">Calculadora de interes por Día</h2>
		<div class="row mt-2">
				<div class="col-6 animate__animated animate__fadeInLeft">
					<form [formGroup]="calcuInteres">
						<div class="form-group row">
							<label for="montoCom" class="col-2 col-form-label">Monto:</label>
							<div class="col-10">
								<input type="number" class="form-control" formControlName="monto">
							</div>
							<label for="interesCom" class="col-2 col-form-label mt-2">Interes:</label>
							<div class="col-4 mt-2">
								<input type="number" class="form-control" formControlName="interes">
							</div>
							<label for="seguroCom" class="col-2 col-form-label mt-2">Seguro:</label>
							<div class="col-4 mt-2">
								<input type="number" class="form-control" formControlName="seguro">
							</div>
							<label for="diasCom" class="col-2 col-form-label mt-2">Dias:</label>
							<div class="col-10 mt-2">
								<input type="number" class="form-control" formControlName="dias">
							</div>
							<br>
							<hr>
							<label for="fechaPresta" class="col-4 col-form-label mt-5">Fecha Prestado:</label>
							<div class="col-8 mt-5">
								<input type="date" class="form-control" formControlName="fechaPrestado">
							</div>
						</div>					
					</form>
					<label for="DiaTotal">Dias totales:</label>
					<div class="alert alert-primary">
						{{ totalDias(calcuInteres.value.fechaPrestado) - 1 }} Días.
					</div>
				</div><!-- primera columna -->
			
				<div class="col-6 animate__animated animate__fadeInDown">
					<div class="form-grop">
						<label for="interSerCom">Interes y Seguro</label>
						<div class="alert alert-secondary">
              {{ intereSeguro() | number:'1.0-0' }} Bs.
            </div>
					</div>
					<div class="form-group mt-2">
						<label for="totalCom">Total a pagar</label>
						<div class="alert alert-success">
              {{ totalPagar() | number:'1.0-0' }} Bs.
            </div>
					</div>
				</div>
		</div><!-- row de la caluladora de 30 dias -->
<br>
		<hr>
		<h2>Calculadora con Cuotas Fijas y Variables</h2>
			<form class="form-row mt-2">
				<div class="col-3 form-group">
					<label for="montoCuo">Monto:</label>
					<input type="number" class="form-control" placeholder="Monto..." name="montoCuo">
				</div>
				<div class="col-3 form-group">
					<label for="interSeCuo">Interes y Seguro</label>
					<input type="number" name="interSeCuo"  class="form-control menor" placeholder="Interes y seguro">
				</div>
				<div class="col-3 form-group">
					<label for="duracionCuo">Duración</label>
					<input type="number" name="duracionCuo" class="form-control menor" placeholder="Tiempo en Dias">
				</div>
				<div class="col-3 form-group">
					<label for="cuota">Cuota</label>
					<input type="number" name="cuota" class="form-control menor" placeholder="Cuota mensual">
				</div>
				<input type="submit" name=""  class="btn btn-success justify-content-end d-flex" value="Calcular">
			</form><!-- form row -->
			
			<div class="row">
				<div class="col-6">
					<h2>Cuotas Fijas</h2>
					<table class="table">
						<thead>
							<tr class="table-success">
								<th scope="col">Fechas</th>
								<th scope="col">Cuota</th>
								<th scope="col">Interes</th>
								<th scope="col">Amortización</th>
								<th scope="col">Saldo</th>
							</tr>
						</thead>
						<tbody><tr></tr></tbody><!-- aca se rellenara automaticamente los espacios de las cuotas -->
					</table>
				</div><!-- primera columna de cuotas fijas -->
				<div class="col-6">
					<h2>Cuotas Variables</h2>
					<table class="table">
						<thead>
							<tr class="table-info">
								<th scope="col">Fechas</th>
								<th scope="col">Cuotas</th>
								<th scope="col">Interes</th>
								<th scope="col">Amortización</th>
								<th scope="col">Saldo</th>
							</tr>
						</thead>
						<tbody><tr></tr></tbody><!-- aca ser rellena automaticamente los espaios de la cuotas variables -->
					</table>
				</div><!-- segunda columna de cuotas variables -->
			</div><!-- row general -->
			<div class="espacio"></div>

</div>