<div class="row">
  <div class="col-6 m-0 animate__animated animate__fadeInLeft">
    <form [formGroup]="calcuInteres">
      <div class="form-group row">
        <label for="montoCom" class="col-2 col-form-label">Monto:</label>
        <div class="col-10">
          <input type="number" class="form-control" formControlName="monto">
        </div>
        <label for="interesCom" class="col-2 col-form-label mt-2">Interes:</label>
        <div class="col-4 mt-2">
          <input type="number" class="form-control" formControlName="interes">
        </div>
        <label for="seguroCom" class="col-2 col-form-label mt-2">Seguro:</label>
        <div class="col-4 mt-2">
          <input type="number" class="form-control" formControlName="seguro">
        </div>
        <label for="diasCom" class="col-2 col-form-label mt-2">Dias:</label>
        <div class="col-10 mt-2">
          <input type="number" class="form-control" formControlName="dias">
        </div>
        <br>
        <hr>
        <label for="fechaPresta" class="col-4 col-form-label mt-5">Fecha Prestado:</label>
        <div class="col-8 mt-5">
          <input type="date" class="form-control" formControlName="fechaPrestado">
        </div>
      </div>					
    </form>
    <label for="DiaTotal">Dias totales:</label>
    <div class="alert alert-primary">
      {{ totalDias(calcuInteres.value.fechaPrestado) - 1 }} Días.
    </div>
  </div><!-- primera columna -->
  
  <div class="col-6 m-0 animate__animated animate__fadeInDown">
    <div class="form-grop">
      <label for="interSerCom">Interes y Seguro</label>
      <div class="alert alert-secondary">
        {{ intereSeguro() | number:'1.0-0' }} Bs.
      </div>
    </div>
    <div class="form-group mt-2">
      <label for="totalCom">Total a pagar</label>
      <div class="alert alert-success">
        {{ totalPagar() | number:'1.0-0' }} Bs.
      </div>
    </div>
  </div>

</div>