<div class="container mt-2">
	<!-- <nav class="navbar navbar-light bg-info justify-content-between">
		<a class="navbar-brand">Busqueda con número de carnet</a>
		<form class="form-inline">
			<input type="form-control" class="p-2 m-1 " type="search" placeholder="Buscar" >
			<button class="btn btn-info p-2" type="button">Buscar</button>
		</form>
	</nav> -->
	<!-- <form class="pt-2"> -->
		<!-- <div class="row">
			<div class="col-4">
				<input type="text" class="form-control" placeholder="Nombre" readonly>
			</div>
			<div class="col-4">
				<input type="text" class="form-control" placeholder="Número de Carnet" readonly>
			</div>
			<div class="col-4">
				<input type="text" class="form-control" placeholder="Código de Cliente" readonly>
			</div>
		</div> .row -->
		<div class="row pt-3">
			<div class="col-3">
				<label>Código de Contrato:</label>
				<input type="text" name="nroContrato"  class="form-control" id="">
			</div>
			<div class="col-3">
				<label>Interes:</label>
				<input type="number" name="interes"  class="form-control" id="">
			</div>
			<div class="col-3">
				<label>Seguro y Custodia:</label>
				<input type="number" name="seguro"  class="form-control" id="">
			</div>
			<div class="col-3">
				<label for="capital">Capital:</label>
				<input type="number" name="capital"  class="form-control" id="">
			</div>
		</div> <!-- .row pt-3-->
		<div class="row mt-3 text-center">
			<div class="col-2"></div>
			<div class="col-4">
				<label for="fechaActual">..Fecha Actualidad: </label>
				<input type="datetime-local" name="fechaActual">
			</div>
			<div class="col-4">
				<label for="fechaVencimiento">Fecha de Vencimiento</label>
				<input type="datetime-local" name="fechaVencimiento">
			</div>
		</div>
		<div class="row mt-3 text-center encabezado text-uppercase align-content-center">
			<div class="col-5">Descripción</div>
			<div class="col-1">Kt</div>
			<div class="col-1">Peso</div>
			<div class="col-5">Observaciones</div>
		</div>
		<div class="row align-content-center datosObjetos">
			<div class="col-5"><input type="text" class="form-control" placeholder="Descripción del Producto"></div>
			<div class="col-1"><input type="text" class="form-control" placeholder="kt"></div>
			<div class="col-1"><input type="text" class="form-control" placeholder="Peso.."></div>
			<div class="col-5"><input type="text" class="form-control" placeholder="Observaciones..."></div>
		</div>
		<!-- <div class="row">
			<button type="button" class="btn btnMas">+</button>
		</div>
		<input type="" value="Generar PDF">
		<input type="submit" value="Guardar" class="btn btn-success"> -->
	<!-- </form> -->
</div>